@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');
:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
      /* backgroud colors */
  --bg-white: hsl(0, 0%, 100%);
  --bg-black-alpha-20: hsla(0, 0%, 0%, 0.2);
  --bg-lavender-blush: hsl(0, 100%, 98%);
  --bg-majorelle-blue: hsl(249, 95%, 63%);
  --bg-ocean-blue: hsl(249, 63%, 54%);
  --bg-majorelle-blue-alpha-5: hsla(249, 95%, 63%, 0.05);
  --bg-misty-rose: hsl(0, 100%, 95%);
  --bg-red-salsa: hsl(357, 94%, 63%);
  --bg-red-salsa-alpha-5: hsla(357, 94%, 63%, 0.05);
  --bg-english-vermillion: hsl(357, 64%, 53%);
  --bg-chrome-yellow-alpha-5: hsla(40, 100%, 50%, 0.05);
  --bg-sunglow-alpha-10: hsla(48, 100%, 50%, 0.1);
  --bg-gainsboro: hsl(0, 0%, 85%);

  /* text color */
  --text-white: hsl(0, 0%, 100%);
  --text-gunmetal: hsl(209, 40%, 14%);
  --text-light-coral: hsl(357, 96%, 73%);
  --text-granite-gray: hsl(210, 4%, 38%);
  --text-majorelle-blue: hsl(249, 95%, 63%);
  --text-sunglow: hsl(48, 100%, 50%);

  /* border color */
  --border-gainsboro: hsl(0, 1%, 85%);
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}
body{
    height: 100%;
    width: 100%;
    background-color: var(--bg);
}
.header-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.scrolled {
    background-color:var(--bg-white);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    
}
.header{
    padding: 1.2rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}   


.middleheader ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    
}
.middleheader li {
    position: relative;
    
}
.middleheader ul{
    list-style: none;
   
}
.middleheader li a{
    text-decoration: none;
    color: var(--dark-gray);   
    font-size: 1.1rem;
    font-weight: 500;
    
}
.middleheader li a.active::after,
.middleheader a:hover::after{
    content: " ";
    background: var(--accent-color);
    position: absolute;
    bottom: -4px;
    left: 15px;
    height: 3px;
    width: 50%;
}
.middleheader li a:hover{
    color: var(--text-majorelle-blue);
    
}
.rightheader{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.rightheader a{
    text-decoration: none;
}
#login{
    padding: .4rem .8rem;
    border-radius: 2rem;
    font-size: 1.1rem;
    color: var(--dark-gray);  
    font-weight: 500; 
}
#signup{
    padding: .4rem .8rem;
    border-radius: 2rem;
    font-size: 1.1rem;
    color: var(--dark-gray);   
    font-weight: 500;
}
#login:hover{
    background-color:var(--primary-color);
    color: white;
}
#signup:hover{
    background-color:var(--primary-color);
    color: white;
}
.hero-container{
    width: 80%;
    display: flex;
    margin: 5rem auto;
    align-items: center;
    justify-content: space-between;

}

.hero-container-left{
    width: 40%;
    display: flex;
    gap: 1.3rem;
   flex-direction: column;
   justify-content: center;
  
}
.tag{
    width: 47%;
    display: flex;
    border-radius: 3rem;
    background-color: hsl(0, 84%, 93%);
    padding: 0.6rem;
    gap: .6rem;
}
.tag-text{
    font-size: 1.1rem;
    color: #e29c99;
    font-weight: 500;
}
.tag-desc{
    font-size: 2.1rem;
    color: var(--text-gunmetal);
    font-weight: 500;
}
.tag-para{
    font-size: 1rem;
    color: var(--dark-gray);
    font-weight: 500;
}
.bottomtext{
    width: 90%;
    margin-top: 1.8rem;
    display: flex;
    gap: 1.8rem;
}
.bottomtextleft{
   background-color:var(--bg-red-salsa);
   padding: .8rem 1rem;
   border-radius: 3rem;
}
.bottomtextleft-title{
    font-size: 1.1rem; 
    color: white;
}
.bottomtextright{
    display: flex;
  
}
.bottomtextright-title{
    font-size: 1.1rem;
    color: var(--text-color);
    padding: .8rem 1rem;
    font-weight: 600;
}
.hero-image{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.hero-container-right{
   width: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.hero-container-right img{
    width: 90%;
}

.feature-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
    justify-content: space-around;
}
.feature-content{
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 1rem 1rem;
    gap: 5rem;
}
.feature-content-text{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding-left: 5rem;

}
.feature-content-heading{
    font-size: 1.1rem;
    color: var(--text-majorelle-blue);
}
.feature-content-desc{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-gunmetal);
}
.feature-content-para{
    font-size: 1rem;
    color: var(--dark-gray);
}
.feature-content-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.feature-card{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background-color: var(--bg-red-salsa-alpha-5);
    border-radius: 10px;
    padding: 1rem 2rem;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    cursor: pointer;
}
.feature-card:hover{
    transform: scale(1.20);
    box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
}
.feature-card:nth-child(2){
    margin-top: 5rem;
    background-color: var(--bg-misty-rose);
}
.feature-card:nth-child(1){
    margin-bottom: 5rem;
    background-color: var(--bg-chrome-yellow-alpha-5);
}
.feature-card:nth-child(3){
    margin-bottom: 5rem;
    background-color: var(--bg-lavender-blush);
}
.feature-image{
    width: 3.2rem;
    height: 3.2rem;

}
.feature-card-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.feature-card-heading{
    font-size: 1.5rem;
    color: var(--text-gunmetal);
}
.feature-card-desc{
    font-size: 1rem;
    color: var(--dark-gray);
}

.destination-container{
    width: 100%;
    margin: 5rem 0;
    padding: 1rem 1rem;

}
.destination-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.destination-header{
    font-size: 1.5rem;
    color: var(--text-gunmetal);
}
.destination-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3.5rem;
}
.destination-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.destination-card-image{
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}
.destination-image{
    object-fit:cover;
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    transition: transform 0.8s ease;
}
.destination-image:hover{
    transform: scale(1.2);
    
}
.destination-description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.destination-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.destination-text-heading{
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-gunmetal);
}
.destination-text-para{
   font-size: 0.9rem;
   color: var(--dark-gray);
}
.destination-rating{
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
   color: var(--dark-gray);
}

.experience-container{
    width: 100%;
    margin: 5rem 0;
    padding: 1rem 1rem;

}
.experience-content{
    width: 90%;
    display: flex;
    margin: 0 auto;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.left-experience-content{
    width: 40%;
}
.experience-image{
    width: 28rem;
    height: 35rem;
}
.right-experience-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 2rem;
}
.right-experience-content-heading{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.experience-text{
    color: var(--primary-color);
    font-size: 1.2rem;

}
.experience-heading{
    color: var(--text-gunmetal);
    font-size: 2.8rem;
    font-weight: bold;
}
.experience-desc{
    font-size: 1rem;
    color: var(--text-granite-gray);
}
.right-experience-content-number{
    display: flex;
    gap: 4rem;
}
.right-experience-content-number-left{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.number{
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-majorelle-blue);
}
.years{
    font-size: 1rem;
    color: var(--dark-gray);
}
.experience{
    font-size: 1rem;
    color: var(--dark-gray);
}
.gallery-container{
    width: 100%;
    margin: 5rem 0;
    padding: 1rem 1rem;
}
.gallery-content{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.gallery-heading{
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-gunmetal);
}
.gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 250px);
    grid-template-areas:
        "img1 img2 img3 img3 img4 img4"
        "img5 img5 img3 img3 img6 img6";
    gap: 18px;
}

.img1 { grid-area: img1; border-radius: 10px; }
.img2 { grid-area: img2; border-radius: 10px; }
.img3 { grid-area: img3; border-radius: 10px;}
.img4 { grid-area: img4; border-radius: 10px;}
.img5 { grid-area: img5; border-radius: 10px;}
.img6 { grid-area: img6; border-radius: 10px;}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offer-container{
    width: 100%;
    margin: 5rem 0;
    padding: 1rem 1rem;
}
.offer-content{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-misty-rose);
    padding: 7rem 4rem;
    border-radius: 2rem;
}
.offer-heading{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-gunmetal);
}
.middle-heading{
    display: flex;
}
.offer-middle-heading{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-gunmetal);

}
.offer-para{
    font-size: 1rem;
    color: var(--text-granite-gray);
}
.offer-button{
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--bg-majorelle-blue);
    outline: none;
    border: none;
    border-radius: 2rem;
    color: var(--text-white);
    cursor: pointer;
}

.footer-container{
    width: 1220px;
    margin: 4px auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}
.footer{
    max-width: 1220px;
    padding: 2rem;
    text-align: left;
    display: flex;
    gap: 3.5rem;
    display: flex;
   /* justify-content: space-between; */
    
}
.footer-top{
    width: 26%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
}
.comp-logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
.filler-text{
    font-size: 1rem;
    color: #777;
    padding-left: 1.5rem;
}
.logo-svg{
    height: 2rem;
    width: 6rem;
}
.logo-link{
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: black;
}
.social-icons{
    height: 1.8rem;
    width: 2rem;
}
.social{
    display: flex;
    gap: 1rem;
    padding-left: 18px;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 6rem;
}

.footer-grid-heading{
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
}
ul li a{
 list-style-type: none;
 text-decoration: none;
}
ul{
    list-style-type: none;
}
.footer-link{
    font-size: 0.9rem;
    color: #777;
}
.footer-grid-column{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.footer-link-list{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
.footer-copyright{
    margin-bottom: 20px;
    padding: .6rem;
    color: var(--gray);
    font-size: 0.8;
    border: 1px solid #E5E7EB;
}

.container{
    width: 30%;
    height: 90vh;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 15px;
    background-color: hsl(0, 100%, 98%);    
    box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
}

.sign-upContainer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}
.eye-icon {

    position: absolute;
    right: 19px;
    top: 43%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px; /* Adjust image size */
    height: 20px;
}
.eye-icon1{
    position: absolute;
    right: 19px;
    top: 64%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px; /* Adjust image size */
    height: 20px;
}

.Signup{
    color: var(--text-gunmetal);
}
.sign-upContainer h1{
    text-align: center;

}

.email-input{
    padding: .8rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: hsl(0, 100%, 98%);;
    border-radius: 5px;
    border: 1px solid #cfc8c8;
}
#SignUp-button{
    background-color: rgb(125, 125, 247);
    border: none;
    border-radius: 10px;
    color: var(--text-white);
    cursor: pointer;
}
.account{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-login{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 5rem auto;
    gap: 2rem;
}

.social-input-button{
    padding: .8rem;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    gap: 5rem;
    cursor: pointer;
    border: 1px solid #cfc8c8;  
    border-radius: 10px;
    background-color: hsl(0, 100%, 98%);
}
#facebook{
    background-color: hsl(0, 100%, 98%);
}
.facebkimg{
    height: 1.5rem;
    width: 1.5rem;
}

.logcontainer{
    width: 30%;
    height: 78vh;
    margin: 0 auto;
    margin-top: 5rem;
    border-radius: 10px;
    background-color: hsl(0, 100%, 98%);
    box-shadow: 2px 4px 8px rgba(0,0,0,0.2);
}

.login-Container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login{
    color: var(--text-gunmetal);
}
.login-Container h1{
    text-align: center;

}

.mail-input{
    padding: .8rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #cfc8c8;
    background-color: hsl(0, 100%, 98%);;
}
#login-button{
    background-color: rgb(125, 125, 247);
    border: none;
    border-radius: 10px;
    color: var(--text-white);
    cursor: pointer;
}
.accountClass{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-login-button{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 4rem auto;
    gap: 2rem;
   
}

.social-button{
    padding: .8rem;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    gap: 5rem;
    cursor: pointer;
    border: 1px solid #cfc8c8;  
    border-radius: 10px;
    background-color:hsl(0, 100%, 98%);
}
#fb{
    background-color: hsl(0, 100%, 98%);
}
.social-img{
    height: 1.5rem;
    width: 1.5rem;
}
.error{
    color: red;
}